.imagen{
    background-image: url(IMAGENES/X004-Y015.jpg);
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    margin-left: 37%;
    margin-top: -40%;
    background-size: 40% 80%;
}