.imagen{
    display: flex;
    justify-content: center;
}

@media (max-width: 1266px){
    #imagen{
        width: 700px;
    }
}

@media (max-width: 998px){
    #imagen{
        width: 450px;
    }
}

@media (max-width: 700px){
    #imagen{
        width: 310px;
    }
}

